[submodule "GodMode9"]
	path = GodMode9
	url = https://github.com/LeddaZ/GodMode9
[submodule "Anemone3DS"]
	path = Anemone3DS
	url = https://github.com/astronautlevel2/Anemone3DS
[submodule "Checkpoint"]
	path = Checkpoint
	url = https://github.com/BernardoGiordano/Checkpoint
[submodule "FBI-NH"]
	path = FBI-NH
	url = https://github.com/nh-server/FBI-NH
[submodule "Homebrew_Launcher"]
	path = Homebrew_Launcher
	url = https://github.com/PabloMK7/homebrew_launcher_dummy
